
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="about_text">OUR COMPANY</h1>
                <p class="lorem_text">MNL Co., Ltd with more than 11 years of producing furniture for export to EU and US markets and supplying domestic furniture products in recent years. Pula Furniture is a private brand serving the domestic market with good product quality, high aesthetics with many designs constantly updated by design experts and competitive selling prices. We are always confident and sure that we will serve to meet the increasing interior needs of our customers. In order to meet the design needs of customers across the country, we have branches in Hanoi and Ho Chi Minh City so that customers can experience exported furniture products, manufactured products. domestic</p>

            </div>
            <div class="col-md-6">
                <div class="image_1"><img src="~/Content/images/img-1.png"></div>
            </div>
            
        </div>
        <div class="row" style="margin-top:60px">
            <div class="col-md-6">
                <div class="image_1"><img src="~/Content/images/la-belle-histoire-ela.png"></div>
            </div>
            <div class="col-md-6">
                <h1 class="about_text">OUR MISSION</h1>
                <p class="lorem_text">
                    MNL asserts itself as a creator, which is also the core business value and true passion of MNL. Zago's products are not only furniture, but also brand-specific products designed by the studio, a mark of Annecy (France) values. Moreover, with a passion for beauty, MNL's desire is simple: to make natural materials stand out and unique in each design. Oak, acacia, teak, concrete and metal or copper alloys are used primitively and combined in the manufacturing process, resulting in the most distinctive and quality products.
                    MNL is a wonderful lover of noble natural materials, which has survived through the ups and downs of time but still retains its perfect and eternal beauty.
                </p>

            </div>
        </div>
    </div>
</div>
<!-- about section end -->
