@model IEnumerable<Furniture.Models.EF.Menu>

<ul class="navbar-nav mr-auto">
    @foreach (var i in Model)
    {
        <li class="nav-item">
            <a class="nav-link" href="/@i.link">@i.name</a>
        </li>
    }
</ul>
