
@{
    ViewBag.Title = "CheckOutSuccess";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="projects_section layout_padding">
    <h1 style="text-align:center">Your Cart</h1>
    <div id="load_data">
        <h1>You have made a successful purchase</h1>
    </div>
    
</div>
