@model Furniture.Models.EF.category

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="projects_section layout_padding">
    <form asp-action="Index" method="get">
        <div class="form-actions no-color d-flex justify-content-center">
            <p>
                Find: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a href="/san-pham/@Model.meta">Back to Full List</a>
            </p>
        </div>
    </form>
    <div class="container ">
        <h1 class="our_text">@Model.name</h1>
        @Html.Action("getProduct", "Default", new { id = Model.id, metatitle = Model.meta })
    </div>
</div>
